<form [formGroup]="resetForm" class="auth-main" (ngSubmit)="resetPassword()">
  <div class="auth-wrapper version-1">
    <div class="auth-form">
      <div class="auth-background">
        <div class="yellow-circle"></div>
        <div class="red-circle"></div>
      </div>
      <div class="main-form">
        <app-card [showHeader]="false" class="auth-form-card" [padding]="40">
          <!-- Logo -->
          <div class="text-center">
            <img src="assets/images/logo.png" alt="Vota IPB Logo" style="max-width: 100px; margin-bottom: 20px;" />
          </div>

          <!-- Email -->
          <div class="text-start">
            <label for="email" class="f-w-500">Email</label>
            <mat-form-field appearance="outline" class="w-100 m-t-5">
              <input
                matInput
                formControlName="email"
                placeholder="Digite seu email"
                required
                autocomplete="email"
              />
            </mat-form-field>
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error">
              {{ getErrorMessage() }}
            </div>
          </div>

          <!-- Botão de redefinir senha -->
          <div class="grid">
            <button
              mat-flat-button
              color="primary"
              class="b-rad-20 m-t-15"
              type="submit"
              [disabled]="resetForm.invalid"
            >
              Redefinir senha
            </button>
          </div>

          <!-- Mensagem de erro -->
          <div *ngIf="resetError" class="error text-center m-t-10">{{ resetError }}</div>

          <!-- Voltar para login -->
          <div class="check-me m-t-20 text-center">
            <a [routerLink]="['/auth/login']" class="text-primary-500">Voltar para o login</a>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</form>
