<form [formGroup]="resetForm" class="auth-main" (ngSubmit)="resetPassword()">
  <div class="auth-wrapper version-1">
    <div class="auth-background">
      <div class="yellow-circle"></div>
      <div class="red-circle"></div>
    </div>
    
    <div class="auth-form">
      <div class="main-form">
        <app-card [showHeader]="false" class="auth-form-card">
          <div class="text-center m-b-20">
            <img src="assets/images/logo.png" alt="Vota IPB Logo" style="max-width: 90px; margin-bottom: 10px;" />
            <div>
              <span class="beta-badge" matTooltip="Esta versão (v2.0.0) está em fase BETA. Caso encontre algum bug ou instabilidade, por favor entre em contato conosco!" matTooltipPosition="below">
                <i class="ti ti-bug"></i> v2.0.0 BETA
              </span>
            </div>
          </div>
          
          <div class="text-start">
            <label for="email" class="f-w-600 f-14 text-dark">Email</label>
            <mat-form-field appearance="outline" class="w-100 m-t-5">
              <input matInput formControlName="email" placeholder="Digite seu email" required autocomplete="email" />
            </mat-form-field>
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error text-danger f-13 m-b-10">
              {{ getErrorMessage() }}
            </div>
          </div>

          <div class="m-t-15">
            <button mat-flat-button class="auth-submit-btn" type="submit"
              [disabled]="resetForm.invalid">
              Redefinir senha
            </button>
          </div>
          
          <div *ngIf="resetError" class="error text-center text-danger f-13 m-t-10">{{ resetError }}</div>
          
          <div class="text-center m-t-20">
            <a [routerLink]="['/auth/login']" class="text-primary-500 f-w-600 f-14">Voltar para o login</a>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</form>