<div class="header-button">
  <button mat-button [matMenuTriggerFor]="Notification" aria-label="Notificações" class="header-item">
    <a href="javascript:" class="pc-head-link badge-on-button" matBadge="0" matBadgeColor="primary" matBadgeOverlap="false">
      <svg class="pc-icon">
        <use xlink:href="assets/fonts/custom-icon.svg#custom-notification"></use>
      </svg>
    </a>
  </button>

  <button mat-button [matMenuTriggerFor]="user" aria-label="Menu do usuário" class="header-item">
    <a class="pc-head-link">
      <div class="user-initials-avatar header-avatar">
        <span>{{ getUserInitials() }}</span>
      </div>
    </a>
  </button>

  <mat-menu #Notification="matMenu" xPosition="before" class="dropdown-notification">
    <div class="dropdown-header flex align-item-center justify-content-between">
      <h5 class="m-b-0">Notificações</h5>
      <a href="javascript:" class="mat-body text-primary-500">Marcar todas como lidas</a>
    </div>
    <ng-scrollbar style="height: calc(100vh - 215px)" visibility="hover">
      <div class="dropdown-body">

      </div>
    </ng-scrollbar>
    <div class="dropdown-footer text-center">
        <a href="javascript:" class="mat-body text-primary-500">Ver Todas as Notificações</a>
    </div>
  </mat-menu>

  <mat-menu #user="matMenu" xPosition="before" class="dropdown-user-profile">
    <div class="dropdown-header flex align-item-center justify-content-between">
      <h5 class="user-title">Perfil</h5>
    </div>
    <ng-scrollbar style="height: auto; max-height: calc(100vh - 225px)" visibility="hover"> <div class="dropdown-body">
        <div class="flex m-b-5 align-items-center"> <div class="topic-icon">
             <div class="user-initials-avatar dropdown-avatar">
               <span>{{ getUserInitials() }}</span>
             </div>
          </div>
          <div class="topic-description m-l-15">
            <h6 class="user-name">{{ authService.nome || 'UNKNOWN' }}</h6>
            <!-- <p class="mat-body text-muted">{{ authService|| 'email@exemplo.com' }}</p> -->
          </div>
        </div>
        <div class="grid m-b-15">
          <button mat-stroked-button color="warn" class="user-logout" (click)="authService.logout()">
            <div class="flex-inline align-item-center">
              <svg class="pc-icon m-r-10">
                <use xlink:href="assets/fonts/custom-icon.svg#custom-logout-1-outline"></use>
              </svg>
              Sair
            </div>
          </button>
        </div>
      </div>
    </ng-scrollbar>
  </mat-menu>
</div>
