<footer class="theme-footer">
  <div class="footer-wrapper">
    <div class="flex align-item-center">
      <div class="col m-t-5 m-b-5">
        <p class="m-0 flex align-item-center gap-10 flex-wrap">
          © Vota IPB by
          <a href="https://bersoncrios.github.io" target="_blank">Guilherme Berson</a>
          <span class="beta-badge" matTooltip="Esta versão (v2.0.0) está em fase BETA. Caso encontre algum bug ou instabilidade, por favor entre em contato conosco!" matTooltipPosition="above">
            <i class="ti ti-bug"></i> v2.0.0 BETA
          </span>
        </p>
        <p class="legal-disclaimer">
          <i class="ti ti-shield-notice"></i>
          <span><strong>Aviso Legal:</strong> Projeto pessoal e independente desenvolvido para auxiliar as igrejas locais. Não possui vínculo oficial com a Igreja Presbiteriana do Brasil (IPB).</span>
        </p>
      </div>
    </div>
  </div>
</footer>
